<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 text-center text-dark">Ejercicio</h1>
</div>

<div class = "container">

<ol>
  <li>
    Crear un service articulo.service.ts y generar una funcion que obtenga el
    listado de art&iacute;culos de la API ofrecida
  </li>
  <br />
  <li>
    Crear un routeo para ir desde esta pagina a la seccion art&iacute;culos
  </li>
  <br />
  <li>Implementar un framework de CSS a elecci&oacute;n</li>
  <br />
  <li>
    Listar los art&iacute;culos con un
    <span class="bold">diseño agradable y responsive</span>
  </li>
  <br />
  <li>Poder editar el nombre del articulo y guardarlo</li>
</ol>

<hr/>

<p class="center bg-secondary text-light p-2">Informaci&oacute;n importante</p>

<ul class="list-group mb-3">
  <li class="list-group-item">
    En la carpeta services/core se encuentra el http-client.ts, el cual se debe
    usar para consumir la API.
  </li>
  <li class="list-group-item">
    El endpoint a consumir es entrevista/articulos
    <a
      href="https://6050ad9e53460900176703c6.mockapi.io/api/entrevista/articulos"
      >LINK</a
    >
  </li>
</ul>
</div>
